<%# Unit 1, Assignment 1 %>
<main class="container">
  <h1 class="hero">Welcome to CSE Motors!</h1>
  
  <%# Unit 4, Sessions & Messages activity %>
  <%- messages() %>

  <!-- Hero Section -->
  <section class="hero">
    <div class="promo">
      <div class="promo-text">
        <h2>DMC Delorean</h2>
        <ul>
          <li>3 Cup holders</li>
          <li>Superman doors</li>
          <li>Fuzzy dice!</li>
        </ul>
        <button class="cta-btn">Own Today</button>
      </div>
      <img src="/images/hero-car.jpg" alt="DMC Delorean">
    </div>
  </section>

  <!-- Reviews Section -->
  <section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>

  <!-- Upgrades Section -->
  <section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="grid">
      <div class="upgrade">
        <a href="#" title="Flux Capacitor">
          <img src="/images/flux-capacitor.jpg" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
        </a>
      </div>
      <div class="upgrade">
        <a href="#" title="Flame Decals">
          <img src="/images/flame-decals.png" alt="Flame Decals">
          <p>Flame Decals</p>
        </a>
      </div>
      <div class="upgrade">
        <a href="#" title="Bumper Stickers">
          <img src="/images/bumper-stickers.jpg" alt="Bumper Stickers">
          <p>Bumper Stickers</p>
        </a>
      </div>
      <div class="upgrade">
        <a href="#" title="Hub Caps">
          <img src="/images/hub-caps.jpg" alt="Hub Caps">
          <p>Hub Caps</p>
        </a>
      </div>
    </div>
  </section>
</main>